/*Global style*/
body {
    background-color: white;
    font-family: "Protest Strike", sans-serif;
    color: #445361;
    text-align: center;
}

/*Heading*/
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/*Logo*/
.logo {
    height: 80px;
    padding-right: 5px;
}

/*Game Area*/
.game-area {
    background-color: #e6cdc834;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/*Question Area*/
.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

/*Button*/
.btn {
    display: inline-block;
    width: 175px;
    height: 175px;
    background-color: #e6cdc8af;
    border-style: hidden;
}

/*Score Area*/
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/*Media queries*/
@media (max-width: 414px) {

    /*Question Area*/
    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    /*Score Area*/
    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    /*Heading*/
    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {

    /*Game Area*/
    .game-area {
        height: 70vh;
    }

    /*Quetsion Area*/
    .question-area {
        padding: 10px 0;
    }

}